/* This file is for your main application css. */

.container {
  display: flex;
  flex-direction: column;
}

.results {
  max-height: 73vh;
  max-width: 70vw;
  margin: auto;
  overflow: auto;
  border: 0.1rem solid #d1d1d1;
  padding-top: 1rem;
  border-radius: 0.2rem;
}

.title {
  text-align: center;
  min-height: 90vh;
  flex: 1;
  margin-top: 1em;
}

.content-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 2vw;
  font-weight: 100;
  padding-left: 1rem;
  padding-right: 1rem;
  color: darkslategrey;
  border: 0.1rem solid darkslategrey;
}

.content-preview {
  image-rendering: pixelated;
  height: 3vh;
}

.detail-image {
  image-rendering: pixelated;
  height: 20vh;
}

footer {
  text-align: center;
  height: 2em;
  line-height: 2em;
}

ul {
  text-align: initial;
  list-style: none;
  display: flex;
  align-items: center;
  max-height: inherit;
  flex-direction: column;
}

li {
  width: 60vw;
  text-align: center;
}
